<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "https://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- PostgreSQL - BiletBankDB -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://78.189.176.171:5432/BiletBankDB</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">CHANGE_ME</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entity sınıfları -->
        <mapping class="com.biletbank.entity.RequestLog"/>
        <mapping class="com.biletbank.entity.ResponseLog"/>
    </session-factory>
</hibernate-configuration>
